body {
  margin: 1em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

/* hide navigation stuff for printing */

div.search {
  display: none;
}

div#navbars {
  display:none;
}  

div#header {
  display:none;
}

div.footer {
  display:none;
}

/* display print header */
div#header-print {
  font-family : Verdana, Eyechart, Geneva, Arial, Helvetica, sans-serif; 
  display:block;
  text-align: center;
  padding-bottom: 0.5em;
  margin-left: 0px;
}

/* format main content */
div#content {
  background: #FFFFFF;
  margin-left: 30px;
  margin-right: 30px; /*breathing space for the text*/
  padding: 5px;/*space to separate navigation and content*/
  font-family : Verdana, Eyechart, Geneva, Arial, Helvetica, sans-serif; 
  font-size: 80%;
  width: auto;
  border: 0.1px solid #FFFFFF; 
  /*to insure that NN4.xx renders the background-color of the content area*/
}
