<body>
<div id="header">
    <div id="logo"></div>
    <div id="menlinks">
        <a href="/" title="Return to Netatalk home">[main]</a>
        <a href="/docs" title="Netatalk Wiki">[wiki]</a>
        <a href="/documentation.html" title="Netatalk Manual">[documentation]</a>
        <a href="/download.html" title="Download Netatalk">[downloads]</a>
        <a href="/support.html" title="Support">[support]</a>
        <a href="/links.html" title="Netatalk related links">[links]</a>
        <img src="/gfx/end.gif" alt="" width="125" height="7" />
    </div>
</div>

<div id="header-print">
    <h1>netatalk.io</h1>
</div>

<div class="search">
    <h2>search netatalk.io</h2>
    <form method="get" action="https://www.google.com/search">
        <p>
            <input type="text" name="q" size="10" maxlength="255" value="" title="enter search text" />
            <input type="hidden" name="sitesearch" value="netatalk.io" />
            <input type="submit" name="btnG" value="Go" title="search netatalk.io" />
        </p>
    </form>
    <span class="italic">powered by Google</span>
</div>

