<div id="navbars">
<div class="navbar">
<h2>Table of contents</h2>
    <p><a class="wikilink" href="/docs/index.html">Home</a></p>
    <p><b>Resources</b></p>
    <ul>
    <li><a class="wikilink" href="/docs/FAQ.html">FAQ</a></li>
    <li><a class="wikilink" href="/docs/Troubleshooting.html">Troubleshooting</a></li>
    <li><a class="wikilink" href="/docs/Connect-to-AFP-Server-from-Mac-clients.html">Connect to AFP Server from Mac clients</a></li>
    <li><a class="wikilink" href="/docs/Installation-Notes.html">Installation Notes</a></li>
    </ul>
    <p><b>Netatalk v3 Installation</b></p>
    <ul>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-3-on-Fedora.html">Installing Netatalk 3 on Fedora</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-3-on-macOS.html">Installing Netatalk 3 on macOS</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-3-on-Solaris-10.html">Installing Netatalk 3 on Solaris 10</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-3-on-OpenIndiana.html">Installing Netatalk 3 on OpenIndiana</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-3-on-OpenSUSE.html">Installing Netatalk 3 on OpenSUSE</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-3-on-Ubuntu.html">Installing Netatalk 3 on Ubuntu</a></li>
    </ul>
    <p><b>Netatalk v2 Installation</b></p>
    <ul>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-2-on-Debian.html">Installing Netatalk 2 on Debian</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-2-on-Fedora.html">Installing Netatalk 2 on Fedora</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-2-on-macOS.html">Installing Netatalk 2 on macOS</a></li>
    <li><a class="wikilink" href="/docs/Installing-Netatalk-2-on-OmniOS.html">Installing Netatalk 2 on OmniOS</a></li>
    </ul>
    <p><b>Technical Docs</b></p>
    <ul>
    <li><a class="wikilink" href="/docs/CatalogSearch.html">CatalogSearch</a></li>
    <li><a class="wikilink" href="/docs/Kerberos.html">Kerberos</a></li>
    <li><a class="wikilink" href="/docs/Special-Files-and-Folders.html">Special Files and Folders</a></li>
    <li><a class="wikilink" href="/docs/Spotlight.html">Spotlight</a></li>
    <li><a class="wikilink" href="/docs/AppleTalk-Kernel-Module.html">AppleTalk Kernel Module</a></li>
    <li><a class="wikilink" href="/docs/Print-Server.html">Print Server</a></li>
    </ul>
    <p><b>Development</b></p>
    <ul>
    <li><a class="wikilink" href="/docs/Developer-Notes.html">Developer Notes</a></li>
    <li><a class="wikilink" href="/docs/Using-GDB-to-Analyze-a-Crash.html">Using GDB to Analyze a Crash</a></li>
    </ul>
    </div>
</div>

