<div id="navbars">
  <div class="navbar">
    <h2>current releases</h2>
    <p><b>stable</b></p>
    <ul>
      <li>
        <a
        title="download 4.0.1 xz compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-4-0-1/netatalk-4.0.1.tar.xz/download">
        Netatalk 4.0.1 (source code)
        </a>
      </li>
      <li>
        <a
        title="download 4.0.1 checksum"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-4-0-1/netatalk-4.0.1.tar.xz.sha256sum/download">
        Netatalk 4.0.1 (sha256sum)
        </a>
      </li>
      <li>
        <a
        title="download 4.0.1 Webmin module"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-4-0-1/netatalk-4.0.1.wbm.gz/download">
        Webmin Module
        </a>
      </li>
      <li>
        <a
        title="view 4.0.1 Release Notes"
        href="/4.0/ReleaseNotes4.0.1.html">
        Release Notes
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar">
    <h2>documentation</h2>
    <h3><b>Manual</b></h3>
    <ol>
      <li><a href="/stable/htmldocs">Index</a></li>
      <li><a href="/stable/htmldocs/intro">Introduction</a></li>
      <li><a href="/stable/htmldocs/installation">Installation</a></li>
      <li><a href="/stable/htmldocs/configuration">Configuration</a></li>
      <li><a href="/stable/htmldocs/appletalk">AppleTalk</a></li>
      <li><a href="/stable/htmldocs/upgrade">Upgrading</a></li>
      <li><a href="/stable/htmldocs/man-pages">List of Manual Pages</a></li>
      <li><a href="/stable/htmldocs/compile">Appendix: Compile</a></li>
      <li><a href="/stable/htmldocs/gpl">Appendix: License</a></li>
    </ol>
  </div>
  <div class="navbar">
    <h2>community</h2>
    <ul>
       <li><a title="Wiki" href="https://github.com/Netatalk/netatalk/wiki">Contribute to Wiki Pages</a></li>
       <li><a title="Discussions" href="https://github.com/Netatalk/netatalk/discussions">Participate in Discussions</a></li>
       <li><a title="Mailing Lists" href="https://sourceforge.net/p/netatalk/mailman/">Subscribe to Mailing Lists</a></li>
    </ul>
  </div>
  <div class="navbar">
    <h2>development</h2>
    <ul>
       <li><a title="Code Repository" href="https://github.com/Netatalk/netatalk">Code Repository</a></li>
       <li><a title="How to Contribute" href="https://netatalk.io/docs/Developer-Notes.html">
        How to Contribute</a></li>
    </ul>
    <p><a href="https://sonarcloud.io/summary/overall?id=Netatalk_netatalk">
      <img alt="Sonarcloud Scan Build Status" height="30"
         src="https://sonarcloud.io/images/project_badges/sonarcloud-orange.svg"/>
    </a></p>
  </div>
</div>
