<div id="navbars">
  <!-- the left navigation/search bar -->
  <div class="navbar">
    <h2>current releases</h2>
    <p><b>stable</b></p>
    <ul>
      <li>
        <a
        title="download 3.1.18 xz compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-3-1-18/netatalk-3.1.18.tar.xz/download">
        &nbsp;3.1.18 (xz)
        </a>
      </li>
      <li>
        <a
        title="download 3.1.18 bzip2 compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-3-1-18/netatalk-3.1.18.tar.bz2/download">
        &nbsp;3.1.18 (bzip2)
        </a>
      </li>
      <li>
        <a
        title="view 3.1.18 Release Notes"
        href="/3.1/ReleaseNotes3.1.18.html">
        &nbsp;Release Notes
        </a>
      </li>
    </ul>
    <p><b>old stable (AppleTalk)</b></p>
    <ul>
      <li>
        <a
        title="download 2.3.0 xz compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-2-3-0/netatalk-2.3.0.tar.xz/download">
        &nbsp;2.3.0 (xz)
        </a>
      </li>
      <li>
        <a
        title="download 2.3.0 bzip2 compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-2-3-0/netatalk-2.3.0.tar.bz2/download">
        &nbsp;2.3.0 (bzip2)
        </a>
      </li>
      <li>
        <a
        title="view 2.3.0 Release Notes"
        href="/2.3/ReleaseNotes2.3.0.html">
        &nbsp;Release Notes
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar">
    <h2>documentation</h2>
    <h3><b>3.1 manual</b></h3>
    <ol>
      <li><a href="/3.1/htmldocs/intro.html">Introduction</a></li>
      <li><a href="/3.1/htmldocs/installation.html">Installation</a></li>
      <li><a href="/3.1/htmldocs/configuration.html">Configuration</a></li>
      <li><a href="/3.1/htmldocs/upgrade.html">Upgrading</a></li>
      <li><a href="/3.1/htmldocs/man-pages.html">Man Pages</a></li>
    </ol>
    <h3><b>2.3 manual</b></h3>
    <ol>
      <li><a href="/2.3/htmldocs/intro.html">Introduction</a></li>
      <li><a href="/2.3/htmldocs/installation.html">Installation</a></li>
      <li><a href="/2.3/htmldocs/configuration.html">Configuration</a></li>
      <li><a href="/2.3/htmldocs/upgrade.html">Upgrading</a></li>
      <li><a href="/2.3/htmldocs/man-pages.html">Man Pages</a></li>
    </ol>
  </div>
  <div class="navbar">
    <h2>community</h2>
       <h3><a title="Mailing Lists" href="https://sourceforge.net/p/netatalk/mailman/">Mailing Lists</a></h3>
       <h3><a title="Wiki" href="https://github.com/Netatalk/netatalk/wiki">Wiki</a></h3>
       <h3><a title="Discussions" href="https://github.com/Netatalk/netatalk/discussions">Discussions</a></h3>
  </div>
  <div class="navbar">
    <h2>development</h2>
       <h3><a title="Code Repository" href="https://github.com/Netatalk/netatalk">Code Repository</a></h3>
       <h3><a title="How to Contribute" href="https://netatalk.io/docs/Developer-Notes.html">
        How to Contribute</a></h3>
    <p><a href="https://sonarcloud.io/summary/overall?id=Netatalk_netatalk">
      <img alt="Sonarcloud Scan Build Status" height="30"
         src="https://sonarcloud.io/images/project_badges/sonarcloud-orange.svg"/>
    </a></p>
  </div>
</div> <!-- /the left navigation/search bar -->
