<div id="navbars">
  <div class="navbar">
    <h2>current releases</h2>
    <p><b>stable</b></p>
    <ul>
      <li>
        <a
        title="download 3.2.0 xz compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-3-2-0/netatalk-3.2.0.tar.xz/download">
        3.2.0 (xz)
        </a>
      </li>
      <li>
        <a
        title="view 3.2.0 Release Notes"
        href="/3.2/ReleaseNotes3.2.0.html">
        Release Notes
        </a>
      </li>
    </ul>
    <p><b>old stable (AppleTalk)</b></p>
    <ul>
      <li>
        <a
        title="download 2.3.2 xz compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-2-3-2/netatalk-2.3.2.tar.xz/download">
        2.3.2 (xz)
        </a>
      </li>
      <li>
        <a
        title="download 2.3.2 bzip2 compressed"
        href="https://sourceforge.net/projects/netatalk/files/netatalk-2-3-2/netatalk-2.3.2.tar.bz2/download">
        2.3.2 (bzip2)
        </a>
      </li>
      <li>
        <a
        title="view 2.3.2 Release Notes"
        href="/2.3/ReleaseNotes2.3.2.html">
        Release Notes
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar">
    <h2>documentation</h2>
    <h3><b>Manual (version 3)</b></h3>
    <ol>
      <li><a href="/stable/htmldocs/intro.html">Introduction</a></li>
      <li><a href="/stable/htmldocs/installation.html">Installation</a></li>
      <li><a href="/stable/htmldocs/configuration.html">Configuration</a></li>
      <li><a href="/stable/htmldocs/upgrade.html">Upgrading</a></li>
      <li><a href="/stable/htmldocs/man-pages.html">Man Pages</a></li>
    </ol>
    <h3><b>Manual (version 2)</b></h3>
    <ol>
      <li><a href="/oldstable/htmldocs/intro.html">Introduction</a></li>
      <li><a href="/oldstable/htmldocs/installation.html">Installation</a></li>
      <li><a href="/oldstable/htmldocs/configuration.html">Configuration</a></li>
      <li><a href="/oldstable/htmldocs/upgrade.html">Upgrading</a></li>
      <li><a href="/oldstable/htmldocs/man-pages.html">Man Pages</a></li>
    </ol>
  </div>
  <div class="navbar">
    <h2>community</h2>
    <ul>
       <li><a title="Wiki" href="https://github.com/Netatalk/netatalk/wiki">Contribute to Wiki Pages</a></li>
       <li><a title="Discussions" href="https://github.com/Netatalk/netatalk/discussions">Participate in Discussions</a></li>
       <li><a title="Mailing Lists" href="https://sourceforge.net/p/netatalk/mailman/">Subscribe to Mailing Lists</a></li>
    </ul>
  </div>
  <div class="navbar">
    <h2>development</h2>
    <ul>
       <li><a title="Code Repository" href="https://github.com/Netatalk/netatalk">Code Repository</a></li>
       <li><a title="How to Contribute" href="https://netatalk.io/docs/Developer-Notes.html">
        How to Contribute</a></li>
    </ul>
    <p><a href="https://sonarcloud.io/summary/overall?id=Netatalk_netatalk">
      <img alt="Sonarcloud Scan Build Status" height="30"
         src="https://sonarcloud.io/images/project_badges/sonarcloud-orange.svg"/>
    </a></p>
  </div>
</div>
